@charset "UTF-8";
/* 
0 - 600px;       Phone
600 - 750px;     Large Phone or small tablet
600 - 900px;     Tablet portrait
900 - 1200px;    Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px +:        Big Desktop

$breakpoint argument choices:
- phone
- lg-phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
:root {
  --splash-screen-duration: 2000ms;
  --lg-phone: 46.87em; }

@keyframes inFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes inFromBottom {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0); } }

@keyframes inFromTop {
  0% {
    opacity: 0;
    transform: translateY(-1.5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInAndScale {
  0% {
    opacity: 0;
    transform: scale(100%) translate(-50%, -50%); }
  100% {
    opacity: 1;
    transform: scale(120%) translate(-50%, -50%); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

::-webkit-scrollbar {
  width: 1.2rem; }

::-webkit-scrollbar-track {
  background: #280659; }

::-webkit-scrollbar-thumb {
  background-color: rgba(211, 222, 251, 0.4);
  border: 3px solid #280659;
  border-radius: 10px; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-scrollbar-width: thin;
  -moz-scrollbar-width: thin;
  -ms-scrollbar-width: thin;
  scrollbar-width: thin;
  -webkit-scrollbar-color: rgba(211, 222, 251, 0.4) #280659;
  -moz-scrollbar-color: rgba(211, 222, 251, 0.4) #280659;
  -ms-scrollbar-color: rgba(211, 222, 251, 0.4) #280659;
  scrollbar-color: rgba(211, 222, 251, 0.4) #280659; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #280659;
  padding-top: 11rem;
  animation: hideOverflow 0.00001s 2500ms backwards;
  position: relative; }

main {
  margin: 0rem auto; }

.blur {
  overflow: hidden; }
  .blur:not(body) {
    filter: blur(1px); }

@keyframes hideOverflow {
  0% {
    overflow-y: hidden; }
  100% {
    overflow-y: auto; } }

.content-paragraph {
  font-size: 1.5rem;
  color: #9aa5c5;
  font-family: "Poppins", sans-serif; }
  @media (max-width: 46.87em) {
    .content-paragraph {
      font-size: 1.2rem; } }
  @media (max-width: 37.5em) {
    .content-paragraph {
      font-size: 1.2rem; } }

.company-position-title {
  font-size: calc(1.5rem * 1.2);
  color: #d3defb;
  font-family: "Poppins", sans-serif; }
  .company-position-title span {
    color: #ae2d68;
    padding-left: 1rem; }

.project-title {
  color: #d3defb;
  font-family: "Poppins", sans-serif;
  transition: color .3s; }
  .project-title--medium {
    font-size: 2.5rem; }
    @media (max-width: 46.87em) {
      .project-title--medium {
        font-size: calc(2.5rem * .9); } }
  .project-title--small {
    font-size: calc(2.5rem * .7);
    font-weight: 500; }

.text-tiny {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.2rem; }

.text-small {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.5rem; }
  @media (max-width: 46.87em) {
    .text-small {
      font-size: 1.3rem; } }
  .text-small--numbered {
    counter-increment: section;
    font-weight: 400; }
    .text-small--numbered::before {
      content: "0" counter(section) ".";
      padding-right: 1rem; }

.header-big {
  font-size: 5rem;
  font-family: "Nunito", sans-serif; }
  @media (max-width: 46.87em) {
    .header-big {
      font-size: 4.2rem; } }
  @media (max-width: 37.5em) {
    .header-big {
      font-size: 3.8rem; } }

.hoverable-icon {
  color: #d3defb;
  transition: all .4s;
  font-size: 2.5rem;
  cursor: pointer; }
  @media (max-width: 46.87em) {
    .hoverable-icon {
      font-size: 2rem; } }
  @media (max-width: 37.5em) {
    .hoverable-icon {
      font-size: 1.8rem; } }
  .hoverable-icon:hover {
    color: #ae2d68; }

.font-paragraph-small {
  font-size: calc(1.2rem * 1.2);
  font-family: "Poppins", sans-serif; }
  @media (max-width: 46.87em) {
    .font-paragraph-small {
      font-size: 1.2rem; } }

.u-margin-bottom-tinier {
  margin-bottom: 1rem !important; }

.u-margin-bottom-tiny {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-medium-plus {
  margin-bottom: 5rem !important; }

.u-margin-bottom-big {
  margin-bottom: 7rem !important; }

.u-margin-top-big {
  margin-top: 7rem !important; }

.u-font-color-secondary {
  color: #ae2d68 !important; }

.u-font-color-gray {
  color: #9aa5c5 !important; }

.u-font-color-light-gray {
  color: #d3defb !important; }

.u-font-secondary {
  font-family: "Poppins", sans-serif !important; }

.u-text-justify-center {
  text-align: center !important; }

.btn {
  padding: 1.25rem 2.5rem;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: .5rem;
  font-weight: 600;
  transition: all .3s ease;
  border: 2px solid #ae2d68;
  color: #ae2d68;
  background-color: transparent;
  cursor: pointer;
  display: block; }
  @media (max-width: 46.87em) {
    .btn--default {
      font-size: 1.6rem;
      padding: 1.5rem 4.5rem; } }
  .btn--medium {
    font-size: 1.5rem; }
    @media (max-width: 46.87em) {
      .btn--medium {
        font-size: 1.6rem; } }
  .btn:hover {
    background-color: rgba(174, 45, 104, 0.15);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
    transform: translate(-0.1rem, -0.1rem); }
  .btn:active {
    box-shadow: none;
    transform: translate(0, 0); }

.about-me {
  display: flex;
  width: 95%; }
  .about-me__content {
    padding-right: 10rem; }
    @media (max-width: 46.87em) {
      .about-me__content {
        padding-right: 0;
        padding-bottom: 5rem; } }
  @media (max-width: 46.87em) {
    .about-me {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.stack-list {
  display: flex; }
  .stack-list p:not(:last-child) {
    padding-right: 2rem; }
  .stack-list p.u-font-color-gray {
    color: #d3defb !important; }

.noteworthy-project {
  background-color: #463171;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 2.5rem; }
  .noteworthy-project ~ .noteworthy-project:nth-of-type(1) {
    background-color: white; }
  .noteworthy-project__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; }
  .noteworthy-project__left-icon {
    font-size: 3.5rem;
    color: #ae2d68; }
  .noteworthy-project .noteworthy-project__right-icon:not(:last-child) {
    text-decoration: none;
    padding-right: 1.5rem; }
  .noteworthy-project:hover .project-title {
    color: rgba(240, 89, 158, 0.8); }
  .noteworthy-project.scroll-elem.scrolled:hover {
    transition: transform .2s ease;
    transform: translateY(-1rem); }
  .noteworthy-project__clickable-div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; }

.colored-img {
  position: relative; }
  @media (max-width: 46.87em) {
    .colored-img {
      width: 100%;
      height: 100%; } }
  .colored-img:hover .colored-img__back-border {
    top: 1rem;
    left: 1rem; }
  .colored-img:hover .colored-img__picture {
    filter: grayscale(0%); }
  .colored-img:hover .colored-img__overlay {
    background-color: transparent; }
  .colored-img__box {
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: .5rem; }
    .colored-img__box:not(.colored-img__box--headshot) {
      cursor: pointer; }
    .colored-img__box--radius {
      border-radius: 3.5rem; }
    @media (max-width: 46.87em) {
      .colored-img__box {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%; }
        .colored-img__box--radius {
          border-radius: 1rem; } }
  .colored-img__picture {
    filter: grayscale(100%);
    transition: all .3s;
    display: block;
    background-blend-mode: screen;
    background-size: cover;
    height: 30rem;
    max-width: 30rem; }
    .colored-img__picture--headshot {
      max-width: 25.5rem; }
    @media (max-width: 46.87em) {
      .colored-img__picture--project {
        max-width: 100%;
        height: max-content;
        width: 100%;
        filter: grayscale(100%) brightness(50%) opacity(50%); } }
  .colored-img__overlay {
    background-color: rgba(240, 89, 158, 0.3);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s; }
    @media (max-width: 46.87em) {
      .colored-img__overlay:not(.colored-img--headshot) {
        background-color: rgba(130, 103, 188, 0.4); } }
  .colored-img__back-border {
    border: 2px solid #ae2d68;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 0;
    pointer-events: none;
    transition: all .3s; }

.project {
  position: relative;
  margin-bottom: 12rem; }
  @media (max-width: 46.87em) {
    .project {
      margin-bottom: 8rem; }
      .project:last-child {
        margin-bottom: 0rem; } }
  .project__box {
    display: flex; }
    .project__box--right {
      justify-content: flex-start; }
    .project__box--left {
      justify-content: flex-end; }
    @media (max-width: 46.87em) {
      .project__box {
        justify-content: stretch;
        position: absolute;
        width: 100%;
        height: 100%; } }
  .project__content {
    text-align: right;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    /* 
    * 100% of container width minus 85% of img size
    * This makes sure the description text box scales together with component
    * when component width is changed.
    */
    width: calc(100% - 25.5rem);
    z-index: 1000; }
    .project__content--right {
      right: 0;
      align-items: flex-end; }
    .project__content--left {
      left: 0;
      align-items: flex-start; }
    @media (max-width: 46.87em) {
      .project__content {
        position: relative;
        width: 100%;
        padding: 5rem; }
        .project__content--right, .project__content--left {
          align-items: flex-start; } }
  .project__description-space {
    height: 14rem;
    width: 5rem;
    background-color: transparent; }
  .project__description {
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 2rem;
    height: 12rem; }
    .project__description--right {
      background-color: #8267BC;
      text-align: right;
      color: #FEFEFE;
      font-weight: 300; }
    .project__description--left {
      background-color: #9aa5c5;
      text-align: left;
      color: black;
      font-weight: 400; }
    @media (max-width: 46.87em) {
      .project__description, .project__description--right, .project__description--left {
        text-align: left;
        padding: 2rem 0;
        background-color: transparent;
        height: auto;
        color: #d3defb; } }
  .project__links {
    display: flex;
    list-style: none; }
  .project__link:not(:last-child) {
    padding-right: 2rem; }
  @media (max-width: 46.87em) {
    .project__clickable-div {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%; } }

.tabs {
  display: flex; }
  .tabs__menu {
    position: relative; }
  .tabs__items {
    width: 15rem;
    cursor: pointer;
    border-left: 1px solid #e3e3e328; }
  .tabs__line-selector {
    transition: all .4s ease;
    width: 2.5px;
    height: 5.5rem;
    background-color: #ae2d68;
    position: absolute;
    top: 0;
    left: -.5px; }
  .tabs__item {
    list-style: none; }
  .tabs__link {
    display: block;
    color: #9aa5c5;
    text-decoration: none;
    line-height: 5.5rem;
    padding-left: 2.5rem; }
    .tabs__link:hover {
      background-color: rgba(174, 45, 104, 0.1);
      color: #ae2d68; }
    .tabs__link:focus {
      background-color: rgba(174, 45, 104, 0.1);
      color: #ae2d68; }
  .tabs__content-box {
    position: relative;
    width: 55rem;
    transition: height .4s ease; }
  .tabs__content {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding-left: 3rem; }

.list {
  list-style: none;
  color: #9aa5c5;
  line-height: 3.5rem; }
  .list--skills {
    columns: 2; }
  .list__item::before {
    content: "▹";
    font-family: "Poppins", sans-serif;
    display: inline-block;
    margin-right: 1rem;
    color: #ae2d68;
    font-size: 2rem; }
  .list__item--experience {
    font-family: "Poppins", sans-serif;
    font-size: 130%;
    font-weight: 300;
    line-height: 3rem;
    padding-bottom: 1.5rem; }
    @media (max-width: 46.87em) {
      .list__item--experience {
        font-size: 120%; } }

.contact-info-fixed--left {
  position: fixed;
  bottom: 0;
  left: 0;
  animation: inFromBottom 0.5s ease 3800ms backwards; }

.contact-info-fixed--right {
  position: fixed;
  bottom: 0;
  right: 0;
  animation: inFromBottom 0.5s ease 3800ms backwards; }

.contact-info-fixed__box {
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }

.contact-info-fixed__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center; }

.contact-info-fixed__item--rotate {
  writing-mode: vertical-lr; }

.contact-info-fixed__link {
  text-decoration: none;
  padding-bottom: 2rem;
  transition: all .3s ease;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.2rem;
  color: #9aa5c5;
  font-size: calc(1.5rem * .9);
  display: block; }
  .contact-info-fixed__link:hover {
    color: #ae2d68;
    -webkit-transform: translateY(-0.3rem);
    -moz-transform: translateY(-0.3rem);
    -ms-transform: translateY(-0.3rem);
    transform: translateY(-0.3rem); }

.contact-info-fixed__icon {
  font-size: 2.5rem; }

.contact-info-fixed__line {
  width: 1px;
  height: 10rem;
  background-color: #9aa5c5; }

@media (max-width: 46.87em) {
  #contact-info-left {
    display: none; } }

@media (max-width: 46.87em) {
  #contact-info-right {
    display: none; } }

.footer {
  margin: 10rem 12rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column; }
  .footer__link {
    text-decoration: none;
    transition: color .3s ease;
    color: #9aa5c5;
    display: block; }
    .footer__link:hover {
      color: #ae2d68;
      -webkit-transform: translateY("0rem");
      -moz-transform: translateY("0rem");
      -ms-transform: translateY("0rem");
      transform: translateY("0rem"); }
  .footer__social-media {
    display: none; }
    @media (max-width: 46.87em) {
      .footer__social-media {
        display: block; } }
    .footer__social-media__list .footer__social-media__item:not(:last-child) {
      padding-right: 2rem; }
    .footer__social-media__list {
      list-style: none;
      display: inline-flex; }
    .footer__social-media__item {
      display: inline; }

.subtitle {
  font-size: 3rem;
  color: #d3defb;
  font-family: "Nunito", sans-serif; }
  @media (max-width: 46.87em) {
    .subtitle {
      font-size: 2.65rem; } }
  @media (max-width: 37.5em) {
    .subtitle {
      font-size: 2.3rem; } }
  .subtitle::after {
    content: "";
    width: 30rem;
    display: inline-block;
    height: 1px;
    background-color: rgba(211, 222, 251, 0.2);
    margin-bottom: .5rem;
    margin-left: 2rem; }
  .subtitle::before {
    counter-increment: section;
    content: "0" counter(section) ".";
    color: #ae2d68;
    padding-right: 1rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 80%; }

.subtitle-unnumbered {
  font-size: 3rem;
  color: #d3defb;
  font-family: "Nunito", sans-serif; }
  @media (max-width: 46.87em) {
    .subtitle-unnumbered {
      font-size: 2.65rem; } }
  @media (max-width: 37.5em) {
    .subtitle-unnumbered {
      font-size: 2.3rem; } }

.navigation {
  position: fixed;
  top: 0;
  transform: translateY(0);
  width: 100vw;
  z-index: 3000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #280659;
  height: 11rem;
  padding: 0 4rem;
  transition: transform .4s ease, height .4s ease; }
  .navigation__checkbox {
    display: none;
    z-index: 4000; }
  .navigation--transparent {
    opacity: .95;
    box-shadow: 0 10px 30px -10px #1f0544;
    height: 8.8rem; }
    @media (max-width: 46.87em) {
      .navigation--transparent {
        opacity: 1; } }
  .navigation__logo {
    height: 6rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
    animation: fadeIn 0.8s ease 2200ms backwards; }
    @media (max-width: 46.87em) {
      .navigation__logo {
        height: 4.5rem; } }
    @media (max-width: 37.5em) {
      .navigation__logo {
        height: 4rem; } }
    .navigation__logo:hover {
      filter: brightness(130%); }
  .navigation__list li:nth-child(1n) {
    animation-delay: 2150ms; }
  .navigation__list li:nth-child(2n) {
    animation-delay: 2300ms; }
  .navigation__list li:nth-child(3n) {
    animation-delay: 2450ms; }
  .navigation__list li:nth-child(4n) {
    animation-delay: 2600ms; }
  .navigation__list li:nth-child(5n) {
    animation-delay: 2750ms; }
  .navigation__list > li:not(:last-child) {
    padding-right: 5rem; }
  @media (max-width: 46.87em) {
    .navigation__list {
      height: 100vh;
      width: 50rem;
      background-color: #463171;
      position: fixed;
      top: 0;
      right: 0;
      transition: all .3s ease;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 25rem 0;
      z-index: 3500; }
      .navigation__list > li:not(:last-child) {
        padding-right: 0; }
      .navigation__list > li:last-child {
        padding-top: 5rem; } }
  .navigation__item {
    animation: inFromTop .3s ease backwards;
    display: inline-block;
    list-style: none; }
  .navigation__link {
    text-decoration: none;
    font-family: "IBM Plex Mono", monospace;
    color: #d3defb;
    font-size: 1.2rem;
    transition: color .3s ease;
    display: block; }
    .navigation__link:hover {
      color: #ae2d68;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
    @media (max-width: 46.87em) {
      .navigation__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        line-height: 4rem; } }
  .navigation__item-number {
    color: #ae2d68;
    padding-right: .8rem; }
    @media (max-width: 46.87em) {
      .navigation__item-number {
        padding: 0; } }
  @media (max-width: 46.87em) {
    .navigation__checkbox:checked ~ .navigation__nav .navigation__list {
      right: -100%; } }
  .navigation__checkbox:not(:checked) + .navigation__button .navigation__icon {
    background-color: transparent; }
    .navigation__checkbox:not(:checked) + .navigation__button .navigation__icon::before {
      top: 0;
      transform: rotate(-225deg);
      width: 4rem; }
    .navigation__checkbox:not(:checked) + .navigation__button .navigation__icon::after {
      top: 0;
      transform: rotate(225deg);
      width: 4rem; }
  .navigation__button {
    position: absolute;
    right: 3.5rem;
    top: 50%;
    display: none;
    z-index: 4000; }
    @media (max-width: 46.87em) {
      .navigation__button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-align: center;
        cursor: pointer; } }
  .navigation__icon {
    animation: fadeIn 0.8s ease 2200ms backwards; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3.6rem;
      height: 3px;
      border-radius: 10rem;
      background-color: #ae2d68;
      display: inline-block;
      transition: all .5s; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      right: 0; }
    .navigation__icon::before {
      width: 4.5rem;
      top: -1.5rem; }
    .navigation__icon::after {
      width: 3rem;
      top: 1.5rem; }

.splash-screen {
  background-color: #1f0544;
  height: 100vh;
  width: 100vw;
  z-index: 5000;
  position: fixed;
  top: 0; }
  .splash-screen::after {
    content: url(../../assets/img/LogoAP_logo.png);
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    transform: translate(-50%, -50%);
    animation: fadeInAndScale 1500ms ease-in both; }

.grid-3-by-3 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  margin-bottom: 1.5rem; }
  @media (max-width: 46.87em) {
    .grid-3-by-3 {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 37.5em) {
    .grid-3-by-3 {
      grid-template-columns: repeat(1, 1fr); } }

.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  padding: 10rem 12rem;
  justify-content: center;
  max-width: 110rem;
  min-height: calc(100vh - 11rem); }
  .intro :nth-child(1n) {
    animation: fadeInFromBottom .4s ease backwards;
    animation-delay: 3100ms; }
  .intro :nth-child(2n) {
    animation: fadeInFromBottom .4s ease backwards;
    animation-delay: 3200ms; }
  .intro :nth-child(3n) {
    animation: fadeInFromBottom .4s ease backwards;
    animation-delay: 3300ms; }
  .intro :nth-child(4n) {
    animation: fadeInFromBottom .4s ease backwards;
    animation-delay: 3400ms; }
  .intro :nth-child(5n) {
    animation: fadeInFromBottom .4s ease backwards;
    animation-delay: 3500ms; }
  .intro__hello {
    font-size: 2rem;
    font-family: "IBM Plex Mono", monospace;
    color: #ae2d68;
    padding-bottom: 2rem; }
    @media (max-width: 46.87em) {
      .intro__hello {
        font-size: 1.8rem; } }
    @media (max-width: 37.5em) {
      .intro__hello {
        font-size: 1.6rem; } }
  .intro__name {
    font-size: 6rem;
    color: #d3defb;
    font-weight: 700; }
    @media (max-width: 46.87em) {
      .intro__name {
        font-size: 5.5rem; } }
    @media (max-width: 37.5em) {
      .intro__name {
        font-size: 4.5rem; } }
  .intro__description {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    color: #9aa5c5;
    font-weight: 300;
    padding-bottom: 4rem; }
    @media (max-width: 46.87em) {
      .intro__description {
        font-size: 1.8rem; } }
    @media (max-width: 37.5em) {
      .intro__description {
        font-size: 1.6rem; } }

.section-about-me {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  padding: 10rem 12rem;
  max-width: 120rem;
  counter-reset: section; }

.section-experience {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  padding: 10rem 12rem;
  max-width: calc(120rem * .80); }

.section-projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  padding: 10rem 12rem;
  max-width: calc(120rem * .90);
  align-items: stretch; }

.section-noteworthy-projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  padding: 10rem 12rem;
  max-width: 120rem;
  counter-reset: section-1;
  align-items: center; }

.section-whats-next {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  padding: 10rem 12rem;
  max-width: calc(120rem * .70);
  align-items: center; }

.scroll-elem {
  opacity: 0;
  transform: translateY(5rem); }

.scrolled {
  transition: all .6s ease;
  opacity: 1;
  transform: translateY(0); }

.scrolled-grid-elem {
  transition: all .2s ease;
  opacity: 1;
  transform: translateY(0);
  display: flex; }
  .scrolled-grid-elem:hover {
    transition: transform .3s ease;
    transform: translateY(-0.7rem); }
  .scrolled-grid-elem ~ .noteworthy-project:nth-of-type(1) {
    transition-delay: 0s; }
  .scrolled-grid-elem ~ .noteworthy-project:nth-of-type(2) {
    transition-delay: 0.1s; }
  .scrolled-grid-elem ~ .noteworthy-project:nth-of-type(3) {
    transition-delay: 0.2s; }
  .scrolled-grid-elem ~ .noteworthy-project:nth-of-type(4) {
    transition-delay: 0s; }
  .scrolled-grid-elem ~ .noteworthy-project:nth-of-type(5) {
    transition-delay: 0.1s; }
  .scrolled-grid-elem ~ .noteworthy-project:nth-of-type(6) {
    transition-delay: 0.2s; }
  @media (max-width: 46.87em) {
    .scrolled-grid-elem ~ .noteworthy-project:nth-of-type(1) {
      transition-delay: 0s; }
    .scrolled-grid-elem ~ .noteworthy-project:nth-of-type(2) {
      transition-delay: 0.1s; }
    .scrolled-grid-elem ~ .noteworthy-project:nth-of-type(3) {
      transition-delay: 0s; }
    .scrolled-grid-elem ~ .noteworthy-project:nth-of-type(4) {
      transition-delay: 0.1s; }
    .scrolled-grid-elem ~ .noteworthy-project:nth-of-type(5) {
      transition-delay: 0s; }
    .scrolled-grid-elem ~ .noteworthy-project:nth-of-type(6) {
      transition-delay: 0.1s; } }
  @media (max-width: 37.5em) {
    .scrolled-grid-elem ~ .noteworthy-project:nth-of-type(1) {
      transition-delay: 0s; }
    .scrolled-grid-elem ~ .noteworthy-project:nth-of-type(2) {
      transition-delay: 0s; }
    .scrolled-grid-elem ~ .noteworthy-project:nth-of-type(3) {
      transition-delay: 0s; }
    .scrolled-grid-elem ~ .noteworthy-project:nth-of-type(4) {
      transition-delay: 0s; }
    .scrolled-grid-elem ~ .noteworthy-project:nth-of-type(5) {
      transition-delay: 0s; }
    .scrolled-grid-elem ~ .noteworthy-project:nth-of-type(6) {
      transition-delay: 0s; } }
