.grid-3-by-3 {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;

  column-gap: $grid-gap;
  row-gap: $grid-gap;
  margin-bottom: $grid-gap;

  @include respond(lg-phone) {
    grid-template-columns: repeat(2, 1fr);
  }
}