.grid-3-by-3 {
  width: 100%;

  display: grid;
  grid-template-columns: repeat($grid-columns-large, 1fr);
  grid-template-rows: auto;

  column-gap: $grid-gap;
  row-gap: $grid-gap;
  margin-bottom: $grid-gap;

  @include respond(lg-phone) {
    grid-template-columns: repeat($grid-columns-medium, 1fr);
  }
  @include respond(phone) {
    grid-template-columns: repeat($grid-columns-small, 1fr);
  }
}