.splash-screen {
  background-color: $color-primary-dark;
  filter: brightness(70%);
  min-height: 100vh;
  width: 100vw;
  z-index: 5000;
  position: fixed;
  overflow-y: hidden;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    animation: fadeInAndScale #{$splash-screen-duration - .5s} ease-out both;
    filter: brightness(200%);

  }

}