.splash-screen {
  background-color: $color-primary-dark;
  filter: brightness(70%);
  min-height: 100vh;
  width: 100vw;
  z-index: 5000;
  position: fixed;
  overflow-y: hidden;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(lg-phone) {
    padding-bottom: $navbar-height;
  }

  &__logo {
    animation: fadeInAndScale #{$splash-screen-duration - 500ms} ease-out both;
    filter: brightness(200%);
  }

}