<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height">
    <link rel="icon" href="/assets/img/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&family=Nunito:wght@400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600&display=swap"
    rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/46ee3dcf79.js" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.0.min.js"></script> 
    <script src="js/media-queries.js"></script>

    <title>{{ portfolioData.name }}</title>
</head>


<body id="body">

    <div class="splash-screen">
        <img class="splash-screen__logo" src="https://raw.githubusercontent.com/Aperezpe/static-portfolio/main/assets/img/LogoAP_logo.png" alt="Abraham Logo">
    </div>
    <header id="navbar" class="navigation">
        <div id="navigation-logo-box" class="navigation__logo-box">
            <a href="">
                <img class="navigation__logo" src="https://raw.githubusercontent.com/Aperezpe/static-portfolio/main/assets/img/LogoAP_logo.png" alt="Abraham Logo">
            </a> 
        </div>
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle" checked>
        <label id="navigation-button" for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>

        
        <nav class="navigation__nav">
            <ul id="navigation-list" class="navigation__list">
                <li class="navigation__item"><a href="#about-me" class="navigation__link"><span class="navigation__item-number">01.</span>About</a></li>
                <li class="navigation__item"><a href="#experience" class="navigation__link"><span class="navigation__item-number">02.</span>Experience</a></li>
                <li class="navigation__item"><a href="#work" class="navigation__link"><span class="navigation__item-number">03.</span>Work</a></li>
                <li class="navigation__item"><a href="#contact" class="navigation__link"><span class="navigation__item-number">04.</span>Contact</a></li>
                <li class="navigation__item"><a class="btn btn--default" target="_blank" href="{{ portfolioData.resumeUrl }}">Resume</a></li>
            </ul>
        </nav>
       
    </header>


    <main id="main">
        <div class="intro">
            <p class="intro__hello">Hello, my name is</p>
            <h1 class="intro__name u-font-secondary">{{ portfolioData.name }}</h1>
            <h2 class="header-big u-font-secondary u-font-color-secondary u-margin-bottom-medium">I'm a Software Engineer</h2>
            <p id="intro-description" class="intro__description">{{ portfolioData.introText }}</p>
            <a href="mailto:{{ portfolioData.email }}" target="_blank" class="btn btn--medium">Say Hello!</a>
        </div>

        <section id="about-me" class="section-about-me scroll-elem">
            <h3 class="subtitle u-margin-bottom-medium-plus">About me</h3>

            <div class="about-me">
                <div id="about-me-content" class="about-me__content">
                    {% for text in portfolioData.aboutMeText %}
                    <p class="content-paragraph u-margin-bottom-small">{{text}}</p>
                    {% endfor %}

                    <ul id="skills-list" class="list list--skills">
                        {% for skill in portfolioData.aboutMeSkills %}
                        <li class="list__item text-tiny">{{skill}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="about-me__img">
                    <div class="colored-img">
                        <div class="colored-img__box colored-img__box--headshot">
                            <img class="colored-img__picture colored-img__picture--headshot" src="https://raw.githubusercontent.com/Aperezpe/static-portfolio/main/assets/img/headshot.JPG" alt="Abraham Logo">
                            <div class="colored-img__overlay colored-img--headshot"></div>
                        </div>
                        <div class="colored-img__back-border"></div>
                    </div>
                </div>
            </div>
            
        </section>

        <section id="experience" class="section-experience scroll-elem">
            <h3 class="subtitle u-margin-bottom-medium-plus">Where I've worked</h3>

            <div class="tabs">
                <div class="tabs__menu">

                    {% for experience in portfolioData.experience %}
                    <input class="tabs__radio" type="radio" id="exp-tab-{{ loop.index0 }}" name="experience-tab" value="{{ loop.index0 }}">
                    <label class="tabs__button text-tiny" for="exp-tab-{{ loop.index0 }}">{{ experience.companyName }}</label>
                    {% endfor %}

                    <div id="tab-line-selector" class="tabs__line-selector"></div>
                    <div id="tab-line-border" class="tabs__line-border"></div>
                </div>
                <div id="tabs-content-box" class="tabs__content-box">
                    {% for experience in portfolioData.experience %}
                    <div class="tabs__content">
                        <h5 class="company-position-title u-margin-bottom-tiny">{{ experience.title }}<span>@ {{ experience.companyName }}</span></h5>
                        <p class="text-tiny u-font-color-gray u-margin-bottom-small">
                            {{ experience.startDate | niceDate }} - {% if experience.endDate %} {{ experience.endDate | niceDate }} {% else %} Present {% endif %}
                        </p>
                        <ul class="list">
                            {% for responsability in experience.responsabilities %}
                            <li class="list__item list__item--experience">{{ responsability }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>


        </section>

        <section id="work" class="section-projects">
            <h3 class="subtitle u-margin-bottom-medium-plus scroll-elem">Some things I've built</h3>

            {% for work in portfolioData.work %}
            {% if work.featuredProject %}
                {% if loop.index % 2 == 0 %} {% set position = "left" %}
                {% else %} {% set position = "right" %}
                {% endif %}
                <div class="project scroll-elem">
                    <div class="project__box project__box--{{position}}">
                        <div class="colored-img">
                            <a target="_blank" rel="noopener" href="{{ work.links["self"] }}">
                                <div class="colored-img__box colored-img__box--radius">
                                    <img class="colored-img__picture colored-img__picture--project" src="{{ work.imgUrl }}" alt="Gifterest Logo">
                                    <div class="colored-img__overlay"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="project__content project__content--{{position}}">
                        <a target="_blank" rel="noopener" href="{{ work.links["self"] }}" class="project__clickable-div"></a>
                        <p class="text-tiny u-font-color-secondary u-margin-bottom-tinier">Featured Project</p>
                        <h4 class="project-title project-title--medium u-margin-bottom-small">{{ work.title }}</h4>
                        <div class="project__description project__description--{{position}} u-margin-bottom-small">
                            <p class="font-paragraph-small">{{ work.description }}</p>
                        </div>
                        <div class="stack-list u-margin-bottom-small">
                            {% for stackItem in work.stack %}
                            <p class="text-tiny u-font-color-gray">{{ stackItem }}</p>
                            {% endfor %}
                        </div>
                        <div class="project__links">
                            <a class="project__link" target="_blank" rel="noopener" title="{{ work.title }} Repo" href="{{ work.links["git"] }}" >
                                <i class="fa-brands fa-github hoverable-icon"></i>
                            </a>
                            <a class="project__link" target="_blank" rel="noopener" title="{{ work.title }}" href="{{ work.links["self"] }}" >
                                <i class="fa-solid fa-arrow-up-right-from-square hoverable-icon noteworthy-project__right-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}

        </section>

        <section class="section-noteworthy-projects">
            <h3 class="subtitle-unnumbered u-margin-bottom-medium-plus scroll-elem">Other Noteworthy Projects</h3>

            <div id="noteworthy-projects" class="grid-3-by-3">
                {% for project in portfolioData.work %}
                {% if not project.featuredProject %}
                <div class="noteworthy-project scroll-elem">
                    <a href="{{ project.links["self"] }}" class="noteworthy-project__clickable-div" target="_blank"></a>
                    <div class="noteworthy-project__header u-margin-bottom-small">
                        <i class="fa-regular fa-folder noteworthy-project__left-icon"></i>
                        <div class="noteworthy-project__right-icons">
                            {% if project.links["git"] %}
                            <a class="noteworthy-project__right-icon" href="{{project.links["git"]}}" target="_blank">
                                <i class="fa-brands fa-github hoverable-icon "></i>
                            </a>
                            {% endif %}
                            <a class="noteworthy-project__right-icon" href="{{project.links["self"]}}" target="_blank">
                                <i class="fa-solid fa-arrow-up-right-from-square hoverable-icon noteworthy-project__right-icon"></i>
                            </a>
                        </div>
                    </div>

                    <div class="project-title project-title--small u-margin-bottom-tinier">{{ project.title }}</div>
                    <p class="font-paragraph-small u-font-color-gray u-margin-bottom-small">{{ project.description }}</p>
                    <div class="stack-list u-margin-bottom-small">
                        {% for stackItem in project.stack%}
                        <p class="text-tiny u-font-color-gray">{{stackItem}}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}

            </div>

            {% if notewortyProjectsLength(portfolioData.work) > 6 %}
            <button id="grid-show-btn" class="btn u-margin-top-big">Show More</button>
            {% endif %}
        </section>
        

        <section  id="contact" class="section-whats-next scroll-elem">
            <h3 class="text-small text-small--numbered u-font-color-secondary u-margin-bottom-tiny">What's Next?</h3>
            <h6 class="header-big u-font-color-light-gray u-font-secondary u-margin-bottom-small">Get In Touch</h6>
            <p class="content-paragraph u-text-justify-center u-margin-bottom-medium-plus">{{ portfolioData.getInTouchText }}</p>
            <a href="mailto:{{ portfolioData.email }}" target="_blank" class="btn btn--medium">Say Hello!</a>
        </section>
    </main>

    <footer id="footer" class="footer u-margin-bottom-medium">
        <div class="footer__social-media">
            <ul class="footer__social-media__list">
                <li class="footer__social-media__item">
                    <a href="{{ portfolioData.git }}" rel="noopener" target="_blank" title="Github" class="contact-info-fixed__link">
                        <i class="fa-brands fa-github hoverable-icon hoverable-icon--translateY contact-info-fixed__icon"></i>
                    </a>
                </li>
                <li class="footer__social-media__item">
                    <a href="{{ portfolioData.linkedIn }}" rel="noopener" target="_blank" title="Linkedin" class="contact-info-fixed__link">
                        <i class="fa-brands fa-linkedin-in hoverable-icon hoverable-icon--translateY contact-info-fixed__icon"></i>
                    </a>
                </li>
            </ul>
        </div>
        <a class="footer__link text-tiny" rel="noopener" target="_blank" href="{{ portfolioData.portfolioRepoUrl }}">
            Design Inspiration by Brittany Chiang & Developed by Abraham Perez
        </a>
    </footer>

    <div id="contact-info-left" class="contact-info-fixed--left">
        <div class="contact-info-fixed__box">
            <ul class="contact-info-fixed__list">
                <li class="contact-info-fixed__item">
                    <a href="https://github.com/Aperezpe" rel="noopener" target="_blank" title="Github" class="contact-info-fixed__link"><i class="fa-brands fa-github hoverable-icon hoverable-icon--translateY contact-info-fixed__icon"></i></a>
                </li>
                <li class="contact-info-fixed__item">
                    <a href="https://www.linkedin.com/in/aperezpe/" rel="noopener" target="_blank" title="Linkedin" class="contact-info-fixed__link"><i class="fa-brands fa-linkedin-in hoverable-icon hoverable-icon--translateY contact-info-fixed__icon"></i></a>
                </li>
                <li class="contact-info-fixed__item">
                    <div class="contact-info-fixed__line"></div>
                </li>
            </ul>
        </div>
    </div>

    <div id="contact-info-right" class="contact-info-fixed--right">
        <div class="contact-info-fixed__box">
            <ul class="contact-info-fixed__list">
                <li class="contact-info-fixed__item contact-info-fixed__item--rotate">
                    <a href="mailto:{{ portfolioData.email }}" target="_blank" class="contact-info-fixed__link">{{ portfolioData.email }}</a>
                </li>
                <li class="contact-info-fixed__item">
                    <div class="contact-info-fixed__line"></div>
                </li>
            </ul>
        </div>
    </div>
</body>

<script src="index.js" defer></script>
<script src="js/components/navbar.js"></script>
<script src="js/scroll.js"></script>
<script src="js/components/tabs.js"></script>
<script src="js/components/grid.js"></script>

</html>