@import "styles.css";

.splash-screen {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 1;
  top: 0;
  left: 0;
  animation: splashScreen var(--splash-screen-duration) linear;
  animation-fill-mode: forwards;
}

.splash-screen__logo {
  z-index: 1000;
  animation: splashScreenLogo var(--splash-screen-duration) ease-out .2s;
  animation-fill-mode: backwards;
}


@keyframes splashScreenLogo {
  0% {
    opacity: 0;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes splashScreen {
  0% {
    background-color: var(--splash-screen-color);
  }
  98% {
    background-color: var(--splash-screen-color);
    z-index: 1000;
  }
  100% {
    z-index: -1000;
  }
}