@import "styles.css";

.header-font {
  font-family: var(--header-font);
}

.mono-font {
  font-family: var(--mono-font);
}

.p-font {
  font-family: var(--p-font);
}

.font-color1 {
  color: var(--primary-font-color);
}

.font-color2 {
  color: var(--secondary-color);
}

.font-gray {
  color: var(--gray);
}