@mixin section-layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin: 0 auto;
  padding: 10rem $min-vertical-padding;

  @include respond(lg-phone) {
    padding: 10rem 7rem;
  }

  @include respond(s-phone) {
    padding: 10rem 4rem;
  }
}

@mixin tiny-text {
  font-family: $font-mono;
  font-size: $font-size-tiny;
  color: $color-gray;
}

@mixin hoverable-link($color, $transformY) {
  display: block;
  
  &:hover {
    color: $color-secondary;
    -webkit-transform: translateY($transformY);
    -moz-transform: translateY($transformY);
    -ms-transform: translateY($transformY);
    transform: translateY($transformY);
  }
}

@mixin scrolled-grid-elem-mixin($delay) {
  transition: all .5s ease;
  transition-delay: $delay;
}

@mixin grid-element-hover {
  &:hover {
    transition: transform .3s ease;
    transform: translateY(-.7rem);
  }
}

// MEDIA QUERY MANAGER
/* 
0 - 600px;       Phone
600 - 750px;     Large Phone or small tablet
600 - 900px;     Tablet portrait
900 - 1200px;    Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px +:        Big Desktop

$breakpoint argument choices:
- phone
- lg-phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/


@mixin respond($breakpoint) {
  @if $breakpoint == s-phone {
    @media (max-width: $s-phone) { @content };   // 480px
  }

  @if $breakpoint == phone {
    @media (max-width: $phone) { @content };   // 600px
  }

  @if $breakpoint == lg-phone {
    @media (max-width: $lg-phone) { @content };   // 750px
  }

  @if $breakpoint == tab-port {
    @media (max-width: $tab-port) { @content };    //900px
  }

  @if $breakpoint == tab-land {
    @media (max-width: $tab-land) { @content };    //1200px
  }

  @if $breakpoint == big-desktop {
    @media (min-width: $big-desktop) { @content };  // 1800px +
  }


}