@mixin section-layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin: 0 auto;
  padding: 10rem $min-vertical-padding;
}

@mixin tiny-text {
  font-family: $font-mono;
  font-size: $font-size-tiny;
  color: $color-gray;
}

@mixin hoverable-link($color, $transformY) {
  display: block;
  
  &:hover {
    color: $color-secondary;
    -webkit-transform: translateY($transformY);
    -moz-transform: translateY($transformY);
    -ms-transform: translateY($transformY);
    transform: translateY($transformY);
  }
}

@mixin scrolled-grid-elem-mixin($delay) {
  transition: all .5s ease;
  transition-delay: $delay;
}

@mixin grid-element-hover {
  &:hover {
    transition: transform .3s ease;
    transform: translateY(-.7rem);
  }
}