$color-secondary: #ae2d68;
$color-secondary-dark: #7f1947;
$color-secondary-light: #F0599E;
$color-primary: #280659;
$color-primary-light: #341671;
$color-primary-light-plus: #463171;
$color-primary-dark: #1f0544;
$color-white: white;
$color-white-2: #FEFEFE;
$color-purple: #8267BC;
$color-black: black;
$color-gray: #9aa5c5;
$color-light-gray:#d3defb;
$color-dark-gray: #e3e3e328;


$navbar-height: 110px;
$splash-screen-duration: 2000ms;
$width-colored-img: 30rem;
$height-colored-img: 30rem;
$min-vertical-padding: 12rem;

$font-mono: 'IBM Plex Mono', monospace;
$font-nuito: 'Nunito', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-size-tiny: 1.2rem;
$font-size-small: 1.5rem;
$font-size-medium: 2.5rem;
$font-size-medium-plus: 3rem;

// GRID
$grid-gap: 1.5rem;

// SECTIONS
$section-max-width: 120rem;

