.btn {
  padding: 1.25rem 2.5rem;
  font-family: $font-mono;
  font-size: $font-size-tiny;
  text-decoration: none;
  border-radius: .5rem;
  font-weight: 600;
  transition: all .3s ease;
  border: 2px solid $color-secondary,;
  color: $color-secondary,;
  background-color: transparent;
  cursor: pointer;

  &--medium {
    font-size: 1.5rem;
  }

  &:hover {
    background-color: rgba($color: $color-secondary, $alpha: .15);
    box-shadow: 0 1rem 3rem rgba($color-black, .5);
    transform: translate(-.1rem, -.1rem);
  }
  
  &:active {
    box-shadow: none;
    transform: translate(0, 0);
  }

}