.colored-img {
  position: relative;

  @include respond(lg-phone) {
    width: 100%;
    height: 100%;
  }

  &:hover &__back-border {
    top: 1rem;
    left: 1rem;
  }

  &:hover &__picture {
    filter: grayscale(0%);
  }

  &:hover &__overlay {
    background-color: transparent;
  }

  &__box {
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: .5rem;

    &:not(.colored-img__box--headshot) {
      cursor: pointer;
    }

    &--radius {
      border-radius: 3.5rem;
    }

    @include respond(lg-phone) {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      &--radius {
        border-radius: 1rem;
      }
    }
    
  }

  &__picture {
    filter: grayscale(100%);
    transition: all .3s;
    display: block;
    background-blend-mode: screen;
    background-size: cover;
    height: $height-colored-img;
    max-width: $width-colored-img;

    &--headshot {
      max-width: #{$width-colored-img * .85};
    }

    @include respond(lg-phone) {
      &--project {
        max-width: 100%;
        height: max-content;
        width: 100%;
        filter: grayscale(100%) brightness(50%) opacity(50%);
      }
    }

  }

  &__overlay {
    background-color: rgba($color-secondary-light, .30);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    transition: all .3s;

    @include respond(lg-phone) {
      &:not(.colored-img--headshot) {
        background-color: rgba($color-purple, .4);
      }
    }
    
  }

  &__back-border {
    border: 2px solid $color-secondary;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 0;
    pointer-events: none;
    transition: all .3s;
  }
  

}