.footer {
  margin: 10rem 12rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;

  &__link {
    text-decoration: none;
    transition: color .3s ease;
    color: $color-gray;

    @include hoverable-link($color-secondary, '0rem');
  }
}