.footer {
  margin-top: 10rem;
  cursor: pointer;

  &__link {
    text-decoration: none;
    transition: color .3s ease;

    &:hover p {
      color: $color-secondary;
    }

    & p {
      transition: color .2s;
    }
  }
}