.noteworthy-project {
  background-color: $color-primary-light-plus;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: all .3s;

  padding: 2.5rem;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  &__left-icon {
    font-size: 3.5rem;
    color: $color-secondary;
  }

  & &__right-icon:not(:last-child) {
    padding-right: 1.5rem;
  } 

  &:hover .project-title {
    color: rgba($color-secondary-light, .8);
  }

  &:hover {
    transform: translateY(-1rem);
  }

}