.noteworthy-project {
  background-color: $color-primary-light-plus;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  // transition: all .3s;

  & ~ &:nth-of-type(1) {
    background-color: white;
  }

  padding: 2.5rem;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    z-index: 5000;
  }
  
  &__left-icon {
    font-size: 3.5rem;
    color: $color-secondary;
  }

  & &__right-icon:not(:last-child) {
    text-decoration: none;
    padding-right: 1.5rem;
  } 

  &:hover .project-title {
    color: rgba($color-secondary-light, .8);
  }

  &.scroll-elem.scrolled:hover {
    transition: transform .2s ease;
    transform: translateY(-1rem);
  }

  &__clickable-div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}
