.tabs {
  display: flex;

  &__menu {

    position: relative;
  }

  &__items {
    width: 15rem;
    cursor: pointer;

    border-left: 1px solid $color-dark-gray;
  }

  &__line-selector {
    transition: all .4s ease;
    width: 2.5px;
    height: 5.5rem;
    background-color: $color-secondary;
    position: absolute;

    top: 0;
    left: -.5px;
  }



  // LI
  &__item {
    list-style: none;
  }
  
  // A
  &__link {
    display: block;

    color: $color-gray;
    text-decoration: none;
    
    line-height: 5.5rem;
    padding-left: 2.5rem;

    &:hover {
      background-color: rgba($color-secondary, .1);
      color: $color-secondary;
    }
    

    &:focus {
      background-color: rgba($color-secondary, .1);
      color: $color-secondary;
    }
  }

  &__content-box {
    position: relative;
    width: 55rem;
    transition: height .4s ease;
  }
  

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding-left: 3rem;
  }
}