*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

::-webkit-scrollbar{ width: 1.2rem; }
::-webkit-scrollbar-track{ background:$color-primary; }
::-webkit-scrollbar-thumb{ 
  background-color: rgba($color-light-gray, .4);
  border: 3px solid $color-primary;
  border-radius:10px; 
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  -webkit-scrollbar-width:thin;
  -moz-scrollbar-width:thin;
  -ms-scrollbar-width:thin;
  scrollbar-width:thin;
  -webkit-scrollbar-color:rgba($color-light-gray, .4) $color-primary;
  -moz-scrollbar-color:rgba($color-light-gray, .4) $color-primary;
  -ms-scrollbar-color:rgba($color-light-gray, .4) $color-primary;
  scrollbar-color:rgba($color-light-gray, .4) $color-primary;
  
  @include respond(tab-land) {    // width < 1200?
    font-size: 56.25%;            // 1rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {    // width < 900?
    font-size: 50%;               // 1rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) { // width > 1800?
    font-size: 75%;               // 1rem = 12px, 12/16 = 75%
  }

}

body {
  box-sizing: border-box;
  background-color: $color-primary;

  padding-top: $navbar-height;

  animation: hideOverflow .00001s #{$splash-screen-duration + .5s} backwards;
  position: relative;
}


main {
  margin: 0rem auto;
}

.blur {
  overflow: hidden;
  
  &:not(body) {
    filter: blur(1px);
  }
}

@keyframes hideOverflow {
  0% {
    overflow-y: hidden;
  }

  100% {
    overflow-y: auto;
  }
}