.content-paragraph {
  font-size: $font-size-small;
  color: $color-gray;
  font-family: $font-poppins;

  @include respond(tab-port) {
    font-size: #{$font-size-small * 1.2};
  }

  @include respond(phone) {
    font-size: #{$font-size-small * 1.1}
  }
}

.company-position-title {
  font-size: calc(#{$font-size-medium} * .8);
  color: $color-light-gray;
  font-family: $font-poppins;

  & span {
    color: $color-secondary;
    padding-left: 1rem;
  }
}

.project-title {
  color: $color-light-gray;
  font-family: $font-poppins;
  transition: color .3s;

  
  &--medium {
    font-size: $font-size-medium;

    @include respond(lg-phone) {
      font-size: calc(#{$font-size-medium} * .9);
    }
  }
  
  &--small {
    font-size: calc(#{$font-size-medium} * .7);
    font-weight: 500;
  }
}

.text-tiny {
  font-family: $font-mono;
  font-size: $font-size-tiny;

  @include respond(tab-port) {
    font-size: #{$font-size-tiny * 1.1};
  }
}

.text-small {
  font-family: $font-mono;
  font-size: $font-size-small;

  &--numbered {
    counter-increment: section;
    font-weight: 400;

    &::before {
      content: "0" counter(section) ".";
      padding-right: 1rem;

    }
  }
}

.header-big {
  font-size: 5rem;
  font-family: $font-nuito;

  @include respond(lg-phone) {
    font-size: 4.2rem;
  }

  @include respond(phone) {
    font-size: 3.8rem;
  }
}

.hoverable-icon {
  color: $color-light-gray;
  transition: all .4s;
  font-size: 2.5rem;
  cursor: pointer;  

  &:hover {
    color: $color-secondary;
  }
}

.font-paragraph-small {
  font-size: calc(#{$font-size-tiny} * 1.2);
  font-family: $font-poppins;

  @include respond(lg-phone) {
    font-size: $font-size-small;
  }
}