.intro {
  @include section-layout;
  justify-content: center;

  
  max-width: 110rem;
  //TODO: only 100vh after changing navbar to position fixed
  min-height: calc(100vh - #{$navbar-height});

  @for $i from 1 through 5 {
    :nth-child(#{$i}n) {
      animation: fadeInFromBottom .4s ease backwards;
      animation-delay: #{$splash-screen-duration + 1s + ($i * .1s)};
    }
  }

  &__hello {
    font-size: 2rem;
    font-family: $font-mono;
    color: $color-secondary;
    padding-bottom: 2rem;
  }

  &__name {
    font-size: 6rem;
    color: $color-light-gray;
    font-weight: 700;
  }

  &__description {
    font-size: 2rem;
    font-family: $font-poppins;
    color: $color-gray;
    font-weight: 300;
    padding-bottom: 4rem;
  }
}

.section-about-me {
  @include section-layout;
  max-width: $section-max-width;
  
  counter-reset: section;
}


.section-experience {
  @include section-layout;
  max-width: calc(#{$section-max-width} * .80);
}

.section-projects {
  @include section-layout;
  max-width: calc(#{$section-max-width} * .90);

  align-items: stretch;
}

.section-noteworthy-projects {
  @include section-layout;
  max-width: $section-max-width ;
  counter-reset: section - 1;

  align-items: center;
}

.section-whats-next {
  @include section-layout;
  max-width: calc(#{$section-max-width} * .70);

  align-items: center;
}

.js-scroll {
  opacity: 0;
  transform: translateY(5rem);
}

.scrolled {
  transition: all .6s ease;
  opacity: 1;
  transform: translateY(0);
}