.intro {
  @include section-layout;
  justify-content: flex-start;
  padding-top: 12rem;

  
  max-width: 100rem;
  //TODO: only 100vh after changing navbar to position fixed
  min-height: calc(100vh - #{$navbar-height});

  @for $i from 1 through 5 {
    :nth-child(#{$i}n) {
      animation: fadeInFromBottom .4s ease backwards;
      animation-delay: #{$splash-screen-duration + 1000ms + ($i * .1s)};
    }
  }

  @include respond(tab-port) {
    padding-top: 15rem;
  }
  @include respond(lg-phone) {
    padding-top: 10rem;
  }

  &__hello {
    font-size: 2rem;
    font-family: $font-mono;
    color: $color-secondary;
    padding-bottom: 2rem;

    @include respond(lg-phone) {
      font-size: 1.8rem;
    }

    @include respond(phone) {
      font-size: 1.6rem;
    }
  }

  &__name {
    font-size: 6rem;
    color: $color-light-gray;
    font-weight: 700;

    @include respond(lg-phone) {
      font-size: 5.5rem;
    }

    @include respond(phone) {
      font-size: 4.5rem;
    }

  }

  &__description {
    font-size: 2rem;
    font-family: $font-poppins;
    color: $color-gray;
    font-weight: 300;
    padding-bottom: 4rem;

    @include respond(phone) {
      font-size: 1.8rem;
    }
  }
}

.section-about-me {
  @include section-layout;
  max-width: $section-max-width;
  
  counter-reset: section;
}


.section-experience {
  @include section-layout;
  max-width: calc(#{$section-max-width} * .80);

}

.section-projects {
  @include section-layout;
  max-width: calc(#{$section-max-width} * .90);

  align-items: stretch;
}

.section-noteworthy-projects {
  @include section-layout;
  max-width: $section-max-width ;
  counter-reset: section - 1;

  align-items: center;

}

.section-whats-next {
  @include section-layout;
  max-width: calc(#{$section-max-width} * .70);

  align-items: center;
}

.scroll-elem {
  opacity: 0;
  transform: translateY(5rem);
}

.scrolled {
  transition: all .6s ease;
  opacity: 1;
  transform: translateY(0);
}



.scrolled-grid-elem {
  transition: all .2s ease;
  opacity: 1;
  transform: translateY(0);
  display: flex;
  @include grid-element-hover;


  @for $i from 0 through 5 {
    & ~ .noteworthy-project:nth-of-type(#{$i + 1}) {
      transition-delay: #{(($i + 0s) % $grid-columns-large) / 10};
    }
  }


  @include respond(lg-phone) {
    @for $i from 0 through 5 {
      & ~ .noteworthy-project:nth-of-type(#{$i + 1}) {
        transition-delay: #{(($i + 0s) % $grid-columns-medium) / 10};
      }
    }
  }

  @include respond(phone) {
    @for $i from 0 through 5 {
      & ~ .noteworthy-project:nth-of-type(#{$i + 1}) {
        transition-delay: #{(($i + 0s) % $grid-columns-small) / 10};
      }
    }
  }

}